## Comparison by reference vs value

In [11]:
list_1 = [1, 2, 3]
list_2 = list_1

print("These lists are the same:")
print("Value:", list_1 == list_2)
print("Reference:", list_1 is list_2)

print("\nAnd if a change a value in one of them, the other changes too:")
list_2[1] = 555
print(list_1, list_2)
print("Value:", list_1 == list_2)
print("Reference:", list_1 is list_2)

These lists are the same:
Value: True
Reference: True

And if a change a value in one of them, the other changes too:
[1, 555, 3] [1, 555, 3]
Value: True
Reference: True

In [12]:
list_1 = [1, 2, 3]
list_2 = [1, 2, 3]

print("The lists have the same values:")
print("Value:", list_1 == list_2)
print("...but they are not the same list")
print("Reference:", list_1 is list_2)

print("\nAnd if a change a value in one of them, the other stays the same:")
list_2[1] = 555
print(list_1, list_2)
print("Value:", list_1 == list_2)
print("Reference:", list_1 is list_2)

The lists have the same values:
Value: True
...but they are not the same list
Reference: False

And if a change a value in one of them, the other stays the same:
[1, 2, 3] [1, 555, 3]
Value: False
Reference: False

### Advanced

In [13]:
class SomeClass:
  def __init__(self, value):
    self.value = value

  def __str__(self):
    return f"Some class with value {self.value}"

In [14]:
cls_1 = SomeClass(5)
cls_2 = SomeClass(5)

print("By default, objects are compared by reference")
cls_1 == cls_2

By default, objects are compared by reference

False

In [17]:
print("However, we can define the __eq__ method to compare it by some other rule.")

class SomeClass:
  def __init__(self, value):
    self.value = value

  def __str__(self):
    return f"Some class with value {self.value}"

  def __eq__(self, other):
    if not isinstance(other, SomeClass):
      return False

    return self.value == other.value

cls_1 = SomeClass(5)
cls_2 = SomeClass(5)

print("\nNow it works as expected.")
print("Value:", cls_1 == cls_2)
print("Reference:", cls_1 is cls_2)
print("SomeClass == 5:", cls_1 == 5)

However, we can define the __eq__ method to compare it by some other rule.

Now it works as expected.
Value: True
Reference: False
SomeClass == 5: False

## Python collections
aka list, dict, tuple, set

### Dict

In [18]:
print("Dict holds key-value pairs")

prices = {
    'student': 50,
    'senior': 50,
    'kid': 10,
    'adult': 100
}

prices['student']

Dict holds key-value pairs

50

In [24]:
# it's one of the most useful things in python imo

counts = {}
input = "Some string I want to analyze."

for char in input.lower():
  if char not in counts:
    counts[char] = 0

  counts[char] += 1

print(counts)

{'s': 2, 'o': 2, 'm': 1, 'e': 2, ' ': 5, 't': 3, 'r': 1, 'i': 2, 'n': 3, 'g': 1, 'w': 1, 'a': 3, 'l': 1, 'y': 1, 'z': 1, '.': 1}

In [37]:
# iterate over dict: methods .items(), .keys(), .values()

for key, val in counts.items():
  print(key, val, end=' - ')

print()

for key in counts.keys():
  print(key, end='-')

print()

for val in counts.values():
  print(val, end='-')

s 2 - o 2 - m 1 - e 2 -   5 - t 3 - r 1 - i 2 - n 3 - g 1 - w 1 - a 3 - l 1 - y 1 - z 1 - . 1 -
s-o-m-e- -t-r-i-n-g-w-a-l-y-z-.-
2-2-1-2-5-3-1-2-3-1-1-3-1-1-1-1-

### tuple

In [39]:
# we've actually seen tuples!

a_tuple = 5, 6
print(a_tuple)

a_tuple[0]

(5, 6)

5

Tuple behaves like a list, but has some differences
- tuple is immutable - you CAN'T change its values once created
- list is mutable - you can change its values once created

In [40]:
# similarly, you can't append to it
a_tuple[0] = 10

TypeError: ignored

Why does it matter? One of the reasons is that mutable things can't be dict keys

In [44]:
some_dict = {}

some_dict[[1, 2, 3]] = 5

TypeError: ignored

In [46]:
some_dict[(1, 2, 3)] = 'Works!'
some_dict

{(1, 2, 3): 'Works!'}

### set

In [26]:
# set
a = set()  # empty set
a = {1, 2, 3}  # set with some values

# only unique values are added
a.add(2)
print(a)
a.add(4)
print(a)

# this is faster than "2 in [1, 2, 3, 4]"
2 in a

{1, 2, 3}
{1, 2, 3, 4}

True

In [32]:
b = {2, 3, 5, 6}
print("a, b:", a, b)
print()

print("Intersection:", a.intersection(b))
print("Union:", a.union(b))
print("Difference (a \ b):", a.difference(b))
print("Difference (b \ a):", b.difference(a))

a, b: {1, 2, 3, 4} {2, 3, 5, 6}

Intersection: {2, 3}
Union: {1, 2, 3, 4, 5, 6}
Difference (a \ b): {1, 4}
Difference (b \ a): {5, 6}

### Attention to list/dict mutability!

DON'T use lists/dicts/classes as keyword arguments (unless you like bugs)

In [47]:
def some_function(default_list=[]):
  default_list.append(5)
  print(default_list)

# !!!
for _ in range(5):
  some_function()

[5]
[5, 5]
[5, 5, 5]
[5, 5, 5, 5]
[5, 5, 5, 5, 5]

In [51]:
# correct way

def some_function(some_list=None):
  if some_list is None:
    some_list = []
  
  some_list.append(5)
  return some_list

# better
print("Default list:")
for _ in range(5):
  print(some_function())

# don't confuse with local variables, i.e. not arguments
print("Local list:")
our_list = []

for _ in range(5):
  print(some_function(some_list=our_list))

Default list:
[5]
[5]
[5]
[5]
[5]
Local list:
[5]
[5, 5]
[5, 5, 5]
[5, 5, 5, 5]
[5, 5, 5, 5, 5]

## Advanced list comprehensions + dict/set comprehensions

In [52]:
# what we know:
vals = [i for i in range(5)]
print(vals)

[0, 1, 2, 3, 4]

In [53]:
# we can add conditions!

vals = [i for i in range(50) if (i % 5 == 0) or (i % 7 == 0)]
print(vals)

[0, 5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49]

In [56]:
# dict comprehensions

some_list = [i + 5 for i in range(10)]

dict_with_inds = {i: val for i, val in enumerate(some_list)}
print(dict_with_inds)

{0: 5, 1: 6, 2: 7, 3: 8, 4: 9, 5: 10, 6: 11, 7: 12, 8: 13, 9: 14}

In [58]:
# set comprehensions

list_with_duplicates = [5, 5, 2, 1, 5, 10, 2, 3]

some_set = {val for val in list_with_duplicates}
print(some_set)

{1, 2, 3, 5, 10}

## Other topics: Global and while-else

https://ksvi.mff.cuni.cz/~dingle/2021-2/prog_1/notes_5.html

- global - **don't** use it. It's a good way how to generate hard to find errors, and you can *always* write it without using it. So just **don't**.
- while followed by else - might be useful, I never used it