## More on split + join

In [ ]:
# split string into list of strings:
"5 5 10 20 hello 4".split()

['5', '5', '10', '20', 'hello', '4']

In [ ]:
# input separated by BOTH whitespace and newlines - processing

our_list = []

break_it = False
while not break_it:
  line = input()
  list_of_vals = line.split()
  
  for val in list_of_vals:
    if val == '-1':
      break_it = True
    
    our_list.append(val)

print(our_list)

5 5 10 -2
5 20 10
2 -1
['5', '5', '10', '-2', '5', '20', '10', '2', '-1']

In [ ]:
# split string into list of strings - advanced:
"5, 5, 10, 20 hello, 4".split(", ")

['5', '5', '10', '20 hello', '4']

In [ ]:
# join a list of strings back into one long string (notice that the separator is not printed after the last element):
", ".join(['5', '10', '20'])

'5, 10, 20'

In [ ]:
# join a list of string, no separator
"".join(['5', '10', '20'])

'51020'

In [1]:
# join a list with newlines - windows style
print("\r\n".join(['5', '10', '20']))

5
10
20

In [2]:
# join a list with newlines - linux style
print("\n".join(['5', '10', '20']))

5
10
20

## Some more list methods

In [7]:
l = [1, 2, 3, 4]
l.reverse()
l

[4, 3, 2, 1]

In [5]:
ll = [1, 2, 3]
print(f"Initial list: {ll}")

ll.append(5)
print(f"After append: {ll}")

popped_item = ll.pop()  # remove last element
print(f"After pop: {ll}")
print(f"Popped item: {popped_item}")

Initial list: [1, 2, 3]
After append: [1, 2, 3, 5]
After pop: [1, 2, 3]
Popped item: 5

In [8]:
# insert to a specific position
l.insert(1, 'Hello')
print(l)

[4, 'Hello', 3, 2, 1]

In [ ]:
# list of lists:

matrix = [
          [1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]
]

matrix[0][2]

3

In [ ]:
# iterate over list of lists


# row_wise
for row in matrix:
  for val in row:
    print(val)
  print()

print('----------')

# column_wise
column_len = len(matrix[0])
row_len = len(matrix)

for i in range(column_len):
  for j in range(row_len):
    print(matrix[j][i])
  
  print()

1
2
3

4
5
6

7
8
9

----------
1
4
7

2
5
8

3
6
9

In [ ]:
seznam = ['a','b','c']

for i in range(len(seznam)):
  print(i)
  print(seznam[i])

print('----')
for val in seznam:
  print(val)

print('----')

# returns both indices and elements (nice! :) )
for i, val in enumerate(seznam):
  print(i, val)

  i

0
a
1
b
2
c
----
a
b
c
----
0 a
1 b
2 c

## Functions

In [ ]:
matrix = [
          [1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]
]

# the function is defined HERE
def add_1_to_row(row):
  res = []
  for val in row:
    res.append(val + 1)

  return res

new_matrix = []
for row in matrix:
  new_row = add_1_to_row(row)  # the function is called HERE
  new_matrix.append(new_row)

print(new_matrix)

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [ ]:
# this is how the range method could look like
def our_range(a, b):
  pass  # some magic

our_range(0, 50)

In [ ]:
# function with default values of arguments - to_add is a keyword argument

def with_def(a, to_add=1):
  return a + to_add

# if I don't pass the argument there, the default value is used
print(f"Add default to 5: {with_def(5)}")

print(f"Add two to 5: {with_def(5, to_add=2)}")

Add default to 5: 6
Add two to 5: 7

In [ ]:
def with_def(a, to_add=1):
  return a + to_add

# DON'T CALL IT LIKE THIS
result = with_def(5, 2)
print(result)

# if you rewrite the function like this:
def with_def(a, b=2, to_add=1):
  return a + to_add

# the function will stop working!!!
result = with_def(5, 2)
print(result)

# so ALWAYS specify the name of the keyword argument
result = with_def(5, to_add=2)
print(result)